{% extends 'base.html' %}

{% block body %}
<h1> No Laundry NALI. </h1>
<p>we are a group that ... Conststing of three members</p>

<class="natAboutUs"> 
    <h2>Natalie Chau</h2>
        <p>
            Does research on the econmonic factors of fast fashion
        </p>
</class>

<class="aileenAboutUs"> 
    <h2>Aileen Oubkeo</h2>
        <p>
            Does research on the ethics factors of fast fashion
        </p>
</class>

<class="leahAboutUs"> 
    <h2>Leah Vann</h2>
        <p>
            Does research on the enviormental factors of fast fashion
        </p>
</class>

<h2>Incorporation </h2>

{% endblock %}